@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto);

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

@font-face {
	font-family: 'DINPro';
	src:url('../myfont/DINPro-Bold.eot');
	src: url('../myfont/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../myfont/DINPro-Bold.woff') format('woff'),
		url('../myfont/DINPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DINPro';
	src: url('../myfont/DINPro-Medium.eot');
	src: url('../myfont/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../myfont/DINPro-Medium.woff') format('woff'),
		url('../myfont/DINPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DINPro';
	src: url('../myfont/DINPro-Regular.eot');
	src: url('../myfont/DINPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../myfont/DINPro-Regular.woff') format('woff'),
		url('../myfont/DINPro-Regular.ttf') format('truetype');
	font-weight: regular;
	font-style: normal;
}
@font-face {
	font-family: 'DINPro';
	src: url('../myfont/DINPro-Light.eot');
	src: url('../myfont/DINPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../myfont/DINPro-Light.woff') format('woff'),
		url('../myfont/DINPro-Light.ttf') format('truetype');
	font-weight: light;
	font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
		  margin: 0 0 0 0 ;
		  padding:0 0 0 0 ;		  
}

html, body {
  padding: 0px;
	margin:0px;
   font-family: 'DINPro', sans-serif;
   font-weight:regular;
   font-size: 12px;
   letter-spacing:.5px;
	-webkit-text-size-adjust: none;
    /* overflow: hidden !important;*/
}

body {
  font-family: 'DINPro', sans-serif;
  margin:0px;
  padding:0px;
  background:#FFF;
  overflow-y:scroll;
  white-space:nowrap;
}
.bgBar{
	position:fixed;
	width:100% ;
	height:45px;
	background:#84DED9;
	top:0px;
	left:0px;
}
.whiteTop{
	position:fixed;
	width:100%;
	height:76px;
	background:#FFF;
	opacity:1;
	top:0px;
	z-index:3;
	}
.whiteTopScaleX{
	width:calc(100% - 682px);
}
.arrow, .arrowW{
	position:fixed;
	width:90px;
	height:40px;
	bottom:24px;
	right:30px ;
	z-index:10;
	background-size:contain;
	background-repeat:no-repeat;
	}
.arrow{
	background:url(../img/arrow.svg);
	}
.arrowW{
	background:url(../img/arrowW.svg);
	}
.intro{
	margin-left:110px;
	width: 60%;
}
.hello{
   font-weight:500;
   font-size: 150px;	
   margin-top:-190px;
   margin-left:9px;
}
.description, .description1{
	font-size: 18px;
   font-weight:reguar;
   text-align: left;  
   white-space:normal;
   margin-left:10px;
   margin-top:40px;
   color:#FFF;
   width: 80%;
   line-height:30px;
}

.mainText{
   font-size: 64px;
   font-weight:reguar;
   text-align: left;
   white-space:normal;
   margin-left:17px;
   margin-top:0px;
 }
 .kindText{
   font-size: 64px;
   font-weight:500;
   text-align: left;  
   white-space:normal;
   margin-left:10px;
   margin-top:0px;
   color:#FFFFFF;
   letter-spacing: 0px;
 }

 .designText{
	font-size: 14px; 
	letter-spacing: 1px;
	font-weight:300;
	
 }
  .big_kindText{
	font-size: 80px; 
	letter-spacing: 2px;
	font-weight:500;
	margin-left:-5px;
	margin-top:-20px;
 }
  .textA{
	 margin-left:0px;
 }
  .textB{
	 color:#000000;
 }

 a{
	 color:#C34F00;
	/*text-decoration:underline #FFCA00;*/
	cursor:pointer;
	
}
a:hover{
	 color:#C34F00;
	/*text-decoration: line-through #FFCA00;*/
}
.whiteRight, .whiteLeftLong{
	position:fixed;
	width:50px;
	height:100%;
	z-index:3;
	background:#FFF;
}
.whiteRight{
	/*border-left:#999 thin solid ;*/
	right:0px;
}
.whiteLeftLong{
	/*border-right:#999 thin solid ;*/
	left:0px;
}

/*.whiteLeft{
	position:fixed;
	width:220px;
	height:50px;
	top:0px;
	left:0px;
	background-color:transparent;
	z-index:5;
}*/


#mainCover{
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	/*overflow-y:scroll;	
	background-color:#F00;
	 -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    transition: all 1.2s ease;
	*/
	position:fixed;	
	z-index:2;
	opacity:1;	
}


#whiteCover{
	top:0px;
	left:0px;
	width:100vw;
	height:100vh;
	position:fixed;	
	background-color:#000000;
	z-index:100;
	opacity:0;	
}
.contactButton{
	margin:20px 0 0 10px;
  height: 30px; 
  width: 100px;
  border:#000 thin solid;
  line-height:30px;
  text-align:center;
  color:#FFA500;
  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
	cursor: pointer;
}
.contactButton:hover{
  border:#C34F00 thin solid;
  cursor: pointer;
  color:#FFF;
  background-color:#FFCA00;
}
 
.button-group  {
	position:fixed;
	right:28px;
	 top:16px;
	z-index:8;
	/*	-ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
	transform:rotate(90deg);*/

}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}
.work {

  margin: 0px 0px 0px 0px;
  
  }

/* ---- button ---- */
button{
	 font-family: 'DINPro', sans-serif;
   font-weight:300;
   font-size: 13px;
   letter-spacing:1px;
   background-color:transparent;
}

.button{
   top:0px;
   border: none;
   color:#000;
   cursor: pointer;
   outline : none;
   float: left;
	z-index:4;
	background-color:#FFFFFF;
    margin: 0px 0px 0px 0px;
	font-size:14px;
	font-weight:500;
	text-transform:uppercase;
	padding:14px 22px;
	margin-left:10px;
	line-height:1;
	border-radius:999px;
	box-shadow:inset 0 0 0 1px transparent;


}

/* ---- main menu ---- */
.workBt, .contactBt, .workBt-work{
	font-size: 13px;
	float: right;
	color:#E75E00;
   z-index:4;
   line-height:13px;
  height: 13px; 
  /*position: fixed;*/
  width: 115px;
  border: 0px ;
  text-align:center;
  background-color:#FFF;
  cursor: pointer;
 
 /* -ms-transform: rotate(90deg); *//* IE 9 */
 /* -webkit-transform: rotate(90deg); *//* Chrome, Safari, Opera */
  /* transform:rotate(90deg);*/
     -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
 
}
.workBt-work{
	cursor:default;
	text-align:left;
	color:#A0A0A0;
	width: 300px;
	float: left;
	/*text-decoration:line-through;*/

}

.contactBt{

border-left:#000 thin solid;
 width: 130px;
  }
  

.mainMenu{
  z-index:5;
  top: 34px;
  height: 26px;
  width: 620px;
  right: 28px;
  position: fixed;
  background-color:#fff;
 
}
.logo{
	position:fixed;
	z-index:6;
	top:25px;
    left: 32px;
    border: none;
    cursor: pointer;
	width:30px;
	height:30px;
	background:url(../img/logo.svg) no-repeat ;
	background-size:contain;
}

.logo:hover{
	animation-name: logoHover;
    animation-duration: 1.2s;
	background:url(../img/logo.svg) no-repeat ;
	opacity:1;
	
}
/* Defining each section background and styles
	* --------------------------------------- */
	#section0,
	#section1,
	#section2,
	#section3,#section4{
		padding: 50px 0 0 0;
		background-size: cover;
		background-position:center;
	}
	#section0{
		padding: 0;
	}
	#section0 .intro{
		width: calc(60% - 50px);
	}
	
	#section1{
		background-image: url(../img/section1.jpg);	
	}
	#section2{
		background-image: url(../img/section2.jpg);	
	}
	#section3{
		background-image: url(../img/section3.jpg);	
	}
	#section4{
		background-image: url(../img/section4.jpg);	
	}



@keyframes logoHover {
     0%   {transform:rotate(0deg);}

	100% {transform:rotate(360deg);}
}

/*.logoRed{
	position:fixed;
	z-index:6;
	top:10px;
    right: 15px;
    border: none;
    cursor: pointer;
	width:30px;
	height:30px;
	background:url(../img/logo_R.svg) no-repeat;
	
	display:none;
}*/


#contactPage{
	top:0px;
	left:100%;
	width:100%;
	height:100%;
	position:fixed;
	border:0.5vw #000 solid;
	
	background-color:#fff;
	padding:50px 0px 0px 0px;
	background-position:center;
	overflow:auto;
		
	z-index:210;
	-ms-transform:scale(0.95,0.95); /* IE 9 */
    -webkit-transform:scale(0.95,0.95); /* Safari and Chrome */
	transform:scale(0.95,0.95);
	
	-ms-transition:-ms-transition 0.8s; /* IE 9 */
    -webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
}

.contactBt:hover,.workBt:hover,
.button:hover {
 color: #000;
 outline : none;
 cursor:pointer;
 background-color:#fff;
 box-shadow:inset 0 0 0 1px #000;
}

.workBt:click,.workBt:active,
.contactBt:click,.contactBt:active,
.button:click,
.button:active,
.button.is-checked {
  outline : none;
  color: #E75E00;
  /*text-decoration:line-through;*/
  cursor:default;
	
}

.workBt.is-checked,
.contactBt.is-checked,
.button.is-checked {
  color:#fff;
  background-color:#000;
  outline : none;
  cursor:default;
	font-weight:500;
	text-decoration:none;
}




/*.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }*/

/* ---- isotope ---- */

.grid {
  position: absolute;
  border: 0px ;
  opacity:1;
  top:86px;
  left:0px;
  padding-bottom:60px;
  width:100%;  
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .thumbnail ---- */

#thumbnailGalley{
	margin-top: 76px;
}

.thumbnail {
  position: relative;
  float: left;
  width: 33.3%;
  margin:0px 0px 0px 0px;
  padding-bottom:22.5%;
  background: #ffffff;
  overflow: hidden;
 }


.cover {
  display:none;
  cursor: pointer;
  width: calc(100% - 18px);
  height:calc(100% - 18px);
  top:9px;
  left:9px;
  position: absolute;
	background-color:#FFF;
	opacity: 1;
    overflow: hidden;
}



.coverUi{
	background-image:url(../img/workUI.svg);
	background-repeat:no-repeat;
	
}
.coverGraphic{
	background-image:url(../img/workGraphic.svg);
	background-repeat:no-repeat;
	
}

.container{
	width:1900px;
	margin:auto;
	height:100vh;
	overflow-y:scroll;
	background-color:#FFFFFF;
}

.workname{
	display: none;
  font-size: 16px;
  color:#000;
  font-weight:300;
  text-align:left;
  text-transform:uppercase;
  cursor: pointer;
    width: 70%;
	left: 15%;
   top:calc(50% - 30px);
	position: absolute;
	opacity: 1;
}

.workProject{
	display:block;
  font-size: 13px;
  color:#fff;
  font-weight:300;
  text-align:left;
    width: 70%;
	left: 5%;
   top:5%;
	position: absolute;
	opacity: .9;
	z-index: 0;
}
.workType {
  font-size: 12px;
  font-weight:300;
  color:#000;
  text-align:left;
  letter-spacing:0px;
   white-space:normal;
  /*text-transform:uppercase;*/
  display:none;
  width: 70%;
	left: 15%;
  height:130px;
  cursor: pointer;
    top: calc(50% - 0px);
	position: absolute;	
	opacity: 1;
	line-height:17px;
}


.thumbnail-img {
    overflow: hidden;
	width: 100%;
	height:100%;
	position: absolute;
	background-color:#FFF;
}
.thumbnail-img img{
	width:100%;
	box-sizing:border-box;
    white-space:nowrap;
	background-color:#FFFFFF;
	/*transition:transform 1s, opacity 1s;
	-webkit-transition: -webkit-transform 1s, opacity 1s; /* Safari */
	/*transition-timing-function:ease-out;
    -webkit-transition-timing-function:ease-out; /* Safari and Chrome */
}
.cover:hover, .coverUi:hover, .coverGraphic:hover,.workname:hover, .workType:hover, .thumbnail:hover, .thumbnail-img:hover{
	cursor: pointer;
}
.imgContainer {
	width:100%;
	margin:0px 0px 0px 0px;
    padding:0px;
	border:none;
}
.imgBig, .colorCircle{
	float:left;
	width:100%;
	margin:-4px 0px -4px 0px;
    padding:0px;
    display:block;
    box-sizing:border-box;
    white-space:nowrap;
	border:none;
	vertical-align:top;
	background-color:#FFFFFF;
}
.movieComp{
	display: block;
	margin:4vw auto 4vw ;
	background-color:#FFF;
}
.graphic_img{
	margin: 0px 4% 4%;
	width:92%;
	box-sizing:border-box;
	background-color:#FFFFFF;
}


.graphic_12{
	margin: 0px 14% 12%;
	width:72%;
	box-sizing:border-box;
	background-color:#FFFFFF;
}
.graphic_up{
	margin-top: 4%;
}

img{
	width:100%;
	 box-sizing:border-box;
    white-space:nowrap;
	background-color:#FFFFFF;
	/*transition:transform 1s, opacity 1s;*/
	/*-webkit-transition: -webkit-transform 1s, opacity 1s; /* Safari */
	/*transition-timing-function:ease-out;
    /*-webkit-transition-timing-function:ease-out; /* Safari and Chrome */
}

.client{
	margin: 30px 15%;
	font-size:13px;
	width:250px;
	height:30px;
	border-bottom:#000000 1px solid;
	box-sizing:border-box;
}
.workTitle{
	font-size:30px;
	text-transform: uppercase;
	margin: 80px 10%;
	box-sizing:border-box;
	white-space:normal;
	width:80%;
}
.title_textContainer{
	margin: 50px 15%;
	box-sizing:border-box;
	white-space:nowrap;
	width:85%;
}
.work_info{
	box-sizing:border-box;
	white-space:normal;
	font-size:14px;
	line-height:22px;
	display:inline-block;
	float:left;
	width:40%;
	margin-bottom:40px;

}
.job_info{
	font-size:13px;
	line-height:18px;
	margin-right:50px;
}
.work_info li, .description li, .description1 li{
    list-style: none;
    display: table-row;
}
.work_info li{
    font-size:12px;
}

.work_info li:before, .description li:before, .description1 li:before{
    content:  "-";
    display: table-cell;
    text-align: right;
    padding-right: .4em;
}

.viewed {
	display:none;
	margin:0;
	width: 100%;
	height: 100%;
	position:absolute;
	background-image:url(../img/viewedW.svg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	}

.imgHover{
    -ms-transform: scale(1.07); /* IE 9 */
    -webkit-transform: scale(1.07); /* Safari and Chrome */
	transform: scale(1.07);
	-webkit-transition:500ms ease-in-out;
    -moz-transition: 500ms ease-in-out;
    -ms-transition:500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
    transition:500ms ease-in-out;
	opacity:1;
	}

.thumbnail:click{
  border:0px;
  cursor: pointer;
}
.thumbnail > * {
  margin: 0;
  padding: 0;
}

/*.uiux{background-color:#999;}
.motion{background-color:#CF0;}*/

.copy{
	font-size:12px;
	font-weight:500;
	color:#000;
	position:fixed;
	bottom:20px;
	left:30px;
	display:block;
	z-index:3;
	width:90%;
	
}
iframe{
	border:0;
	background-color:#FFFFFF;
	margin:0;
	padding:0;
}
.closemark, .closemark1{
	width: 50px;
	height: 50px;
	background-image:url(../img/closemark.svg);
	top: 3vw;
	right: calc(50% - 860px);
	display:none;
	z-index:220;
	position:fixed;
	cursor: pointer;
	/*transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;*/
	background-repeat: no-repeat;
	background-position: center center;
	}

.closemark:hover, .closemark1:hover{
	-webkit-animation-name: logoHover; /* Chrome, Safari, Opera */
	animation-name: logoHover;
	-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-duration: 2s;

	}

.bigload{
	/*-webkit-animation-name: inslide;*/ /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    /*animation-name: inslide;*/
    animation-duration: 1s;
    position:fixed;
	top:0px;
	left:100%;
	width:100%;
	height:100%;
	border:0.5vw #000 solid;
	z-index:100;
	background-color:#FFF;	
	display: none;
	overflow:hidden;
	}
	



/* Chrome, Safari, Opera */
@-webkit-keyframes inslide {
    0%   {left:100%; }
    100% {left:0px; }
}

/* Standard syntax */
@keyframes inslide {
    0%   {left:100%; }
    100% {left:0px;}
}
@-webkit-keyframes outslide {
    0%   {left:0px; }
    100% {left:100%; }
}

/* Standard syntax */
@keyframes outslide {
    0%   {left:0px; }
    100% {left:100%;}
}

/*@-webkit-keyframes coverType {
	 0%   {background-position:0px 0px; }
    100% {background-position:600px 0px;}
    
}

 Standard syntax 
@keyframes coverType {
      0%   {background-position:0px 0px; }
	100% {background-position:600px 0px; }
}*/

.bigimg-container{
    position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
    display:none;
	z-index:111;
	background-color:rgba(0,0,0,0.75);
	overflow-y: scroll;
	
}
.bigimg-images{
	position: absolute;
	display: block;
	width: 100%;
	z-index: -1;
	background: rgba(0,0,0,0);
	top: 10%;
	left: -1px;
	bottom: 200px;
	right: 0;
	margin: auto;
	-moz-transition: all .5s linear;
	-webkit-transition: all .5s linear;
	transition: all .5s linear;
}
.bigimg-images img{
	width:100%;
	display: block;
	z-index:1;
	margin:0 0 0 0;
}
.bigimg-images img:last-child{
}
/*.bigimg-container-bg{
	background:rgba(0,0,0,1);
	width:100px;
	height:100px;
	right:0px;
	position:fixed;
	z-index:-101;
	cursor:url(img/close.png), crosshair;
}*/

.preload{
	width: 100%;
	height:100%;
	background-image: url(../img/preload.gif);
	background-color:rgba(0, 0, 0, 0.8);
	
	opacity:1;
	top: 0;
	left: 0;
	display:none;
	z-index:10;
	position: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}
.preload:hover{
	
}


/*--big image----*/
/*--custom scroll bar -- */
::-webkit-scrollbar {
	background:#fff;
	}
 
/* Track */
::-webkit-scrollbar-track {
	background:#FFFFFF;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
	border: 5px solid #fff;
    background: #C4C4C4; 
	background-clip: content-box;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #fff; 
}
.scrollTop{
	position:fixed;
	z-index:250;
	bottom:1vw;
	right:1vw;
	width:50px;
	height:50px;
	background-image:url(../img/top.svg);
	}
.scrollTop:hover{
	background-color:rgba(95,95,95,0.5);
	background-image:url(../img/top_W.svg);
	cursor:pointer;
	}



/*--resize----*/
@media screen and (min-width : 1201px ) and (max-width : 1900px ){

 	.closemark, .closemark1{
	top: 40px;
	right: 50px;
	}
	.container {
	width:100%;
	}
	.movieComp{
	width:80%;
	}
}



@media screen and (min-width : 768px ) and (max-width : 1200px ){
    .thumbnail{
        width:50%;  
		padding-bottom:34%;        
    }
	.intro{
	margin-left:50px;
	width: 560px;
	height: 300px;	
}
.hello{
   font-size: 67px;	
   margin-left:5px;
    margin-top:0px;
}	
.mainText{
   font-size: 24px;
   margin-left:10px;
 }	

.closemark, .closemark1{
	width: 50px;
	height: 50px;
	top: 40px;
	right: 50px;
}
.container {
	width:100%;
	}
.movieComp{
	width:90%;
	}

 
}

@media screen and (min-width : 260px ) and (max-width : 767px ){
    .thumbnail{
        width:100%;  
		padding-bottom:68%;     
    }
	.intro{
	margin-left:30px;
	width: 70%;
	height: 200px;	
}
.hello{
   font-size: 40px;
   margin-left:3px;	
   margin-top:0px;
}	
.mainText{
   font-size: 16px;
   margin-left:7px;
 }
 .description{
	
	font-size: 16px;
   font-weight:reguar;
   text-align: left;  
   white-space:normal;
   margin-left:0px;
   margin-top:20px;
   display:none;
   width: 60vw;
   line-height:20px;
}
 .description1{
	
	font-size: 16px;
   font-weight:reguar;
   text-align: left;  
   white-space:normal;
   margin-left:0px;
   margin-top:20px;
   width: 80vw;
   line-height:30px;
}
 .kindText{
   font-size: 14px;
   font-weight:100;
   text-align: left;  
   white-space:normal;
   margin-left:0px;
   margin-top:0px;
   color:#FFFFFF;
   letter-spacing: 4px;
 }

 .designText{
	font-size: 12px; 
	letter-spacing: 1px;
	font-weight:300;
	
 }
  .big_kindText{
	font-size: 100px; 
	letter-spacing: 2px;
	font-weight:500;
	margin-left:-8px;
	margin-top:-20px;
 }
 .contactButton{
	 visibility:hidden;
	}
.button-group  {
	position:fixed;
	right:25px;
	 top:42px;
	z-index:8;
	/*	-ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
	transform:rotate(90deg);*/
}
.workBt-work{
	cursor:default;
	 text-align:left;
	 width: 80px;
	 /*text-decoration:line-through;*/
}
.mainMenu{
  z-index:5;
  top: 20px;
  height: 26px;
  width: 620px;
  right:0px;
  position: fixed;
  background-color:#fff;
  padding:0px;
}
.logo{
	position:fixed;
	z-index:6;
	top:25px;
    left: 22px;
    border: none;
    cursor: pointer;
	width:30px;
	height:30px;
	background:url(../img/logo.svg) no-repeat ;
	background-size:contain;
}
.work_info{
	width:100%;
	margin-right:0px;
	
}
.title_textContainer{
	margin: 20px 10% ;
	width : 80%;
}
.client{
	margin: 30px 10%;
	width:80%;
	}
.colorCircle{
	display:none;
	}
.workTitle{
	font-size:24px;
	text-transform: uppercase;
	margin: 50px 10%;
	box-sizing:border-box;
	width:80%;
}

.closemark, .closemark1{
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
}
.container {
	width:100%;
	}
.movieComp{
	width:100%;
	margin:0 0 0;
}
.copy{
	bottom:10px;
	width:80%;
	white-space:normal;
}
}
 
/*--resize----*/

/*--main fullpage start----*/
.main1 {
  width: 50vw;
  animation: move 2s alternate infinite linear;
}
.clip-circle {
  clip-path: circle(60px at center);
}
.clip-svg {
  clip-path: url(#myClip);
}

@keyframes move {
    to {margin-left: 100px;}
}


/*--main fullpage end----*/

/*--dark sections (1-4) color overrides----*/
body.dark-sections .copy {
    color: #ebebeb;
}
body.dark-sections .arrow {
    background-image: url(../img/arrowW.svg);
}
body.dark-sections #fp-nav ul li a span {
    background: #ebebeb;
}
/*--dark sections end----*/
